*.env
# Terraform files
**/*.tfvars
**/.terraform/*
**/terraform.tfstate*
.terraform
terraform.tfstate.backup
*.tfstate
*.tfstate.*
crash.log

# Astro
/my-app/dist/
/my-app/.astro/
/my-app/node_modules/